body {
  font-family: "Arial", sans-serif;
  background-color: #ddd6d4;
}

section {
  text-align: center;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 306px;
  margin: 50px auto;
}

.cell {
  width: 100px;
  height: 100px;
  box-shadow: 0 0 0 1px #333333;
  border: 1px solid #333333;
  cursor: pointer;

  line-height: 100px;
  font-size: 60px;
}
.cell:hover {
  background-color: #cac4c2;
}
.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #444343;
  margin: 20px 20px 20px 20px;
  color: #444343;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

a {
  color: #444343;
  text-decoration: none;
  letter-spacing: 1px;
}
.button a {
  position: relative;
  transition: all 0.45s ease-Out;
}

#circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: #444343;
  position: absolute;
  transition: all 0.5s ease-Out;
  top: 20px;
  left: 70px;
}

.button:hover #circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

.button:hover a {
  color: #2d3142;
}
